.hidden {
    display: none;
}

.icon-right {
    float:right;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    text-decoration:none;
}

.mini-progress-bar{
    height: 4px;
}

.tip{
    cursor: help;
}

.tip::after{
    opacity: 0.5;
    content: ' (?)';
}

.tip:hover::after{
    opacity: 1;
}

#header img{
    margin-top: 6px;
}

.ils-card-call-to-action {
	text-align: center;
}
a.ils-card-call-to-action {
	text-decoration: none;
	color: inherit;
}
a.ils-card-call-to-action:hover {
	text-decoration: none;
	color: inherit;
}
.ils-card-call-to-action .card-body {
	padding:.5rem; /* instead of 1.25rem */
}
.ils-card-call-to-action .card-title {
	margin-bottom:.1rem; /* instead of .5rem */
}
